<header>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about.html' | relative_url }}">About</a>
    <a
      id="strategy-finder-link"
      href="{{ '/strategies/strategy_finder.html' | relative_url }}"
      class="authorized-only"
      >Strategy Finder</a
    >
    <a
      id="our-strategies-link"
      href="{{ '/strategies/our_strategies.html' | relative_url }}"
      class="authorized-only"
      >Our Strategies</a
    >
    <a href="{{ '/contact_us.html' | relative_url }}">Contact Us</a>
    <a
      id="users-link"
      aria-label="Manage users"
      href="{{ '/login.html' | relative_url }}"
      style="display: none"
    >
      <i class="fa-regular fa-user"></i>
    </a>
    <a
      href="{{ '/organizations/index.html' | relative_url }}"
      class="superuser-only"
      >Organizations</a
    >
    <!--  TODO: Only for dev/test purposes. Remove in production.  -->
    <button id="logout-button" type="button" class="authorized-only">
      Logout
    </button>
  </nav>
</header>

<script
  type="module"
  src="{{ '/assets/js/shared.js' | relative_url }}"
></script>
