<form id="organization-form">
  <input
    type="hidden"
    id="organization-id"
    name="id"
    value="{{ include.organization_id }}"
  />
  <label for="title">Organization Title</label>
  <input
    type="text"
    id="title"
    name="title"
    required
    value="{{ include.title }}"
  />
  {% if include.show_champion_email %}
  <label for="email">Champion Email</label>
  <input
    type="email"
    id="email"
    name="email"
    required
    value="{{ include.email | default: '' }}"
  />
  {% endif %}
  <button type="submit">Save Organization</button>
</form>

<div id="message"></div>
