<form id="user-form">
  <input type="hidden" id="user-id" name="id" value="{{ include.user_id }}" />
  <label for="email">Email</label>
  <input
    type="email"
    id="email"
    name="email"
    required
    value="{{ include.email }}"
  />
  <label for="champion">Is this user the organization's champion?</label>
  <input
    type="checkbox"
    id="champion"
    name="champion"
    {%
    if
    include.champion
    %}checked{%
    endif
    %}
  />
  <button type="submit">Save User</button>
</form>

<div id="message"></div>
